body {
    font-family: Caladea; 
    font-size:large;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 91%);
}

header {
    background-image: url('Blue Gold Elegant Minimalist Digital Marketer LinkedIn Banner.png');
    background-size: cover;
    background-position: center;
    padding: 1em 0;
    text-align: left;
    height: 200px; 
}

nav {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #eedda6;
}

nav a {
    color: #120044;
    padding: 15px 25px;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover {
    background-color: #8894a1;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

section {
    padding: 2em 0;
    font-size: x-large;
    color: #100230;
}


h2 {
    font-family: Kristen ITC;
    color: #1d015c;
}
h3{
 font-family: Lucida Handwriting;
 
 ;
}
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 0.5em 0;
}

a {
    color: #1a0dab;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #eedda6;
    color: #120044;
}
